
<section class="zoneJoueurs zoneAdversaires zoneGauche">
  <div class="zoneJoueur">
    <div class="unJoueur">
      <img  class="avatar" src="../../assets/img/avatars/avatar-violet.jpg.jpg" alt="">
      <h2>Ensorceleur</h2>
      <div class="jauge"></div>
    </div>
    <div class="cartes">
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
    </div>
  </div>
  <div class="zoneJoueur zone4">
    <div class="unJoueur">
      <img  class="avatar" src="../../assets/img/avatars/avatar-orange.jpg" alt="">
      <h2>Ensorceleur</h2>
      <div class="jauge"></div>
    </div>
    <div class="cartes">
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
    </div>
  </div>
</section>
<section class="zoneJoueurs zoneAdversaires zoneDroite">
  <div class="zoneJoueur zone3">
    <div class="cartes">
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
      <div class="uneCarte"></div>
    </div>
    <div class="unJoueur">
      <img  class="avatar" src="../../assets/img/avatars/avatar-bleu.jpg" alt="">
      <h2>Ensorceleur</h2>
      <div class="jauge"></div>
    </div>
  </div>
</section>
<section class="portail">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div class="cercleIncantatoire"></div>
</section>
<section class="zoneJoueurs zoneJoueurPrincipal">
  <div class="zoneJoueur zone1">
    <div class="unJoueur">
      <img class="avatar sommeil" src="../../assets/img/avatars/avatar-green.jpg" alt="">
      <h2>Joueur</h2>
      <div class="jauge"></div>
    </div>
    <div class="cartes">

    </div>
    <div class="lesSorts">
      <div class="" id="hypnose" title="Bave de Crapaud + Lapis Lazuli"><img src="../../assets/img/sorts/miniatures/hypnose.png" alt="">  </div>
      <div class="" id="philtre-d-amour" title="Mandragore + Corne de Licorne"><img src="../../assets/img/sorts/miniatures/philtre-d-amour.png" alt="">  </div>
      <div class="" id="invisibilite" title="Bave de Crapaud + Corne de Licorne"><img src="../../assets/img/sorts/miniatures/invisibilite.png" alt="">  </div>
      <div class="diamond-shield"><p>Hypnose</p></div>
      <div class="diamond-shield"><p>Divination</p></div>
      <div class="diamond-shield"><p>Sommeil Profond</p></div>
    </div>
    <div class="overlay">
      <p class="nbCartes"><span></span> Cartes</p>
    </div>
    <div class="deck">
      <img src="../../assets/img/deck.png" alt="">
    </div>
  </div>
</section>

<script src="assets/js/jeu.js"></script>
<script src="assets/js/script.js"></script>

