
  <div class="unePartie">
    <h2>Nom Partie</h2>
    <p>Les joueurs</p>
    <ul>
      <li>Pseudo:<img src=""> </li>
      <li>Pseudo:<img src=""> </li>
      <li>Pseudo:<img src=""></li>
      <li>Pseudo:<img src=""></li>
      <li class="placeVide"></li>
    </ul>
    <button class="rejoindreUnePartie">S'asseoir à la table</button>
  </div><div class="unePartie">
  <h2>Nom Partie</h2>
  <p>Les joueurs</p>
  <ul>
    <li>Pseudo:<img src=""> </li>
    <li>Pseudo:<img src=""> </li>
    <li>Pseudo:<img src=""></li>
    <li>Pseudo:<img src=""></li>
    <li class="placeVide"></li>
  </ul>
  <button class="rejoindreUnePartie">S'asseoir à la table</button>
</div><div class="unePartie">
  <h2>Nom Partie</h2>
  <p>Les joueurs</p>
  <ul>
    <li>Pseudo:<img src=""> </li>
    <li>Pseudo:<img src=""> </li>
    <li>Pseudo:<img src=""></li>
    <li>Pseudo:<img src=""></li>
    <li class="placeVide"></li>
  </ul>
  <button class="rejoindreUnePartie">S'asseoir à la table</button>
</div><div class="unePartie">
  <h2>Nom Partie</h2>
  <p>Les joueurs</p>
  <ul>
    <li>Pseudo:<img src=""> </li>
    <li>Pseudo:<img src=""> </li>
    <li>Pseudo:<img src=""></li>
    <li>Pseudo:<img src=""></li>
    <li class="placeVide"></li>
  </ul>
  <button class="rejoindreUnePartie">S'asseoir à la table</button>
</div>


