<div class="connexion">
            <form action="#" method="post" class="connexion">

            <header><h1>Spells World</h1></header>

            <p>Choisissez votre avatar:</p>

            <label for="avatarUn" class="avatar labelAvatarUn"><input type="radio" id="avatarUn" name="avatar" value="avatarUn"></label>
            <label for="avatarDeux" class="avatar labelAvatarDeux"><input type="radio" id="avatarDeux" name="avatar" value="avatarDeux"></label>
            <label for="avatarTrois" class="avatar labelAvatarTrois"><input type="radio" id="avatarTrois" name="avatar" value="avatarTrois" ></label>
            <label for="avatarQuatre" class="avatar labelAvatarQuatre"><input type="radio" id="avatarQuatre" name="avatar" value="avatarQuatre"></label>

                
            <input type="text" name="pseudo" id="pseudo" placeholder="Indiquez votre Pseudo">


            <input type="submit" value="Me Connecter">        
        </form>
    </div>