<div class="connexion">
            <form action="#" method="post" class="connexion">

            <header><h1>Spells World</h1></header>

            <p>Choisissez votre avatar:</p>
            
            <div > {{avatar.code}} </div>
            <label *ngFor="let avatar of avatars" for="{{avatar.code}}" class="avatar label{{avatar.code}}"><input type="radio" id="{{avatar.code}}" name="avatar" value="{{avatar.code}}"></label>

            <input type="text" name="pseudo" id="pseudo" placeholder="Indiquez votre Pseudo">
            <input type="submit" value="Me Connecter">  
        </form>
    </div>