app-login{
  width:100%;
  height:100%;
  display:block;
}
div.connexion{
  background-image: url('../../assets/css/img/fond-connexion.jpg');
  text-align: center;
  font-family: 'Cinzel', serif;
  overflow-y:hidden;
  height:100%;
  width:100%;
  display:block;
}
header{
  text-align: center;
  position:relative;
}
header:after{
  content:'';
  width:calc(100%- 1em);
  height:calc(100%- 1em);
  position:absolute;
  top:0.5em;
  left:0.5em;
  right:0.5em;
  bottom:0.5em;
  border:solid 1px goldenrod;
  box-sizing: border-box;
}

input.error{
  text-decoration: underline dotted red;
}

form.connexion{
  width:80%;
  height:580px;
  display:block;
  margin :auto;
  background-color:rgba(255,255,255,0.5);
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0;
}

.connexion header{
  margin-top:0;
  margin-bottom: 1em;
  background-image:url('../../assets/css/img/fond-menu.jpg');
}
.connexion header h1{
  margin:0;
  padding: 1em;
  color:#fff;
  font-weight:800;
}

.connexion label.avatar{
  display: inline-block;
  width: 200px;
  height:280px;
  vertical-align: top;
  text-align: center;
  margin: 5px 10px;
  background-size:cover;
  margin-top:1em;
}
.connexion label.avatar:hover{
  transition:1s;
}

.connexion label.avatar:hover,.connexion label.avatar:checked,.connexion label.avatar.checked{
  transform:scale(1.1);
}

.connexion label.labelavatar1{
  background-image: url('../../assets/img/avatars/avatar-bleu.jpg');

}.connexion label.labelavatar1:hover,.connexion label.labelavatar1:checked,.connexion label.labelavatar1.checked{
   box-shadow: 0px 0px 5px 5px #81DAF5;
   transition:1s;
 }

.connexion label.labelavatar2{
  background-image: url('../../assets/img/avatars/avatar-green.jpg');
}.connexion label.labelavatar2:hover,.connexion label.labelavatar2:checked,.connexion label.labelavatar2.checked{
   box-shadow: 0px 0px 5px 5px #01DFA5;

 }
.connexion label.labelavatar3{
  background-image: url('../../assets/img/avatars/avatar-orange.jpg');

}.connexion label.labelavatar3:hover,.connexion label.labelavatar3:checked,.connexion label.labelavatar3.checked{
   box-shadow: 0px 0px 5px 5px #FE9A2E;
 }
.connexion label.labelavatar4{
  background-image: url('../../assets/img/avatars/avatar-violet.jpg');

}.connexion label.labelavatar4:hover,.connexion label.labelavatar4:checked,.connexion label.labelavatar4.checked{
   box-shadow: 0px 0px 5px 5px #AC58FA;
 }

.connexion label.avatar input{
  opacity:0;
}

.connexion input#pseudo{
  display:block;
  display:block;
  margin: 0 auto;
  padding:0.6em 2em;
  background:ivory;
  border:none;
  margin-top:1em;
  cursor:text;
}

.connexion input[type="submit"],.connexion button[type="submit"]{
  display:block;
  margin: 0 auto;
  padding:0.6em 2em;
  background:ivory;
  border:none;
  margin-top:1.5em;
  cursor:pointer;
}

.connexion input[type="submit"]:hover,.connexion button[type="submit"]:hover{
  background-color:beige;
}
