<div class="connexion">
            <form  #f="ngForm" (ngSubmit)="onSubmit(f)" method="post" class="connexion">

            <header><h1>Spells World</h1></header>

            <p>Choisissez votre avatar:</p>
            <label *ngFor="let avatar of avatars" (click)="idAvatar = avatar._id"  [class.checked]="idAvatar === avatar._id" for="{{avatar.code}}" class="avatar label{{avatar.code}}"></label>

            <input type="text" ngModel required [(ngModel)]="pseudo" name="pseudo" id="pseudo" placeholder="Indiquez votre Pseudo">
            <button type="submit">Me Connecter</button>
        </form>
    </div>