<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container">
  <header>
    <h1>En attente des joueurs</h1>
  </header>
  <section class="lesJoueurs col">
    <div class="unJoueur">
      <img src="../../assets/img/avatars/avatar-bleu.jpg" alt="">
      <H2>Ensorceleur</H2>
    </div>
    <div class="unJoueur">
      <img src="../../assets/img/avatars/avatar-green.jpg" alt="">
      <H2>Druide</H2>
    </div>
    <div class="unJoueur">
      <img src="../../assets/img/avatars/avatar-orange.jpg" alt="">
      <H2>Paladin</H2>
    </div>
    <div class="unJoueur">
      <img src="../../assets/img/avatars/avatar-violet.jpg" alt="">
      <H2>Magicien</H2>
    </div>
    <div class="unJoueur empty"></div>
    <div class="unJoueur empty"></div>
    <div class="unJoueur empty"></div>
  </section><button id="Commencer">Commencer la Partie</button>
</div>

