@import url(style.css);

/* Salle de Jeu */

body.salleDeJeu{
    background-image:url('img/fond-salle-de-jeu.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height:100%;
    background-color:#000;
}
body.salleDeJeu .zoneJoueur{
    text-align:center;
    max-height:100%;
    display:inline-block;
}

/* Zone du Joueur */

body.salleDeJeu section.zoneJoueurs.zoneJoueurPrincipal{
    position:absolute;
    bottom:0;
    width:100%;
    height:340px;
}

body.salleDeJeu section.zoneJoueurs.zoneJoueurPrincipal .zoneJoueur{
    height:100%;
    position:relative;
}

body.salleDeJeu section.zoneJoueurs.zoneJoueurPrincipal .cartes{
    
}

body.salleDeJeu section.zoneJoueurs.zoneJoueurPrincipal img.uneCarte{
    position:absolute;
    left:0;
    right:0;
    bottom: 0;
    margin:0 auto;
    width:7em;
    height:10em;  
    transform-origin: bottom center;
    cursor:pointer;
}

body.salleDeJeu section.zoneJoueurs.zoneJoueurPrincipal img.uneCarte.selectionee{
    z-index:30 !important;
    border:solid 1px #fff;
}


/* Les autres joueurs */

    /* Les Zones gauche et droie */

body.salleDeJeu section.zoneJoueurs.zoneAdversaires{
    position:absolute;
    top:0;
    height:100%;
    width:30%;
}

body.salleDeJeu section.zoneJoueurs.zoneAdversaires.zoneGauche{
    left:0;
    text-align:left;
}

body.salleDeJeu section.zoneJoueurs.zoneAdversaires.zoneDroite{
    right:0;
    text-align:right;
}

/* Les Joueurs */


body.salleDeJeu section.zoneJoueurs.zoneAdversaires .zoneJoueur .unJoueur,body.salleDeJeu section.zoneJoueurs.zoneAdversaires .zoneJoueur .cartes{
    display:inline-block;
    vertical-align: top;
}

body.salleDeJeu section.zoneJoueurs.zoneAdversaires .zoneJoueur .unJoueur{
    width:20%;
}

body.salleDeJeu section.zoneJoueurs.zoneAdversaires .zoneJoueur .cartes{
    width:79%;
}

body.salleDeJeu section.zoneJoueurs.zoneAdversaires.zoneGauche .zoneJoueur .cartes{
    text-align:left;
}

body.salleDeJeu section.zoneJoueurs.zoneAdversaires.zoneDroite .zoneJoueur .cartes{
    text-align:right;
}

/* Le Profil du joueur */

body.salleDeJeu section.zoneJoueurs.zoneAdversaires img{
    width:100%;
    height:auto;
}

body.salleDeJeu section.zoneJoueurs.zoneAdversaires h2{
    font-size:0.6em;
    color:#fff;
    background-color:#000;
    color:#fff;
    padding:0.4em;
    position:relative;
    top:-10px;
}




/* Les Cartes */

body.salleDeJeu section.zoneJoueurs:not(.zoneJoueurPrincipal) .uneCarte{
    display:inline-block;
    width:2.5em;
    height:4em;
    background-image:url(../img/dos-carte.jpg);
    background-size:contain;
    background-repeat:no-repeat;
}


